
@using Resources
@using BankColumnCaption


<h1 style="text-align:center;">Biztbl_Page</h1>


<script>

    function RefreshGrid(e) {
        this.read();
    }

</script>



@(Html.Kendo().Grid<gbsExtranetMVC.Models.Repositories.Biztbl_PageExt>()
                .Name("Biztbl_PageExt_Grid")
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(25)
            .Events(events => events.Error("onError").Sync("RefreshGrid"))
        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.ID).Editable(false);
        })
                .Create(update => update.Action("_Create", "Biztbl_Page"))
                .Read(read => read.Action("_Read", "Biztbl_Page", new { TableID = (int)ViewBag.TableID }))
                .Update(update => update.Action("_Update", "Biztbl_Page"))
                .Destroy(destroy => destroy.Action("_Destroy", "Biztbl_Page"))

        )

                .Columns(columns =>
                {
                    columns.Command(

                       command =>
                       {
                           command.Edit().UpdateText(Resources.Update).CancelText(Resources.Cancel).Text(Resources.Edit);
                           command.Destroy().Text(Resources.Delete);
                       }).Locked(true).Width(180);

                    columns.Bound(p => p.ID).Width(150); //EditorTemplateName (/Shared/EditorTempaltes/ddlCountries) used to Display Dropdown list and it will return Int value to Controller
                    columns.Bound(p => p.Code).Width(300);
                    columns.Bound(p => p.Title).Width(250);
                    columns.Bound(p => p.Description).Width(250);
                    //columns.Bound(p => p.Active).Width(150)
                    //      .ClientTemplate("<div style='text-align:center;'> #if(Active){# <img src='/Images/checked.gif' alt='checked'> #} else {# <img src='/Images/red_cross.png' alt='redCross'> #}# </div>");
                    //columns.Bound(p => p.OpDateTime).Hidden(true);
                    //columns.Bound(p => p.OpUserID).Hidden(true);
                })
                .ToolBar(tool =>
                {
                    tool.Custom().Name("cmdAddNewRecord")
                   .Text(Resources.NewRecord)
                   .HtmlAttributes(new { @id = "cmdAddNewRecord" });
                    tool.Excel().Text(Resources.ExporttoExcel);
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Scrollable(scrollable => scrollable.Height(430))
                //.Scrollable().HtmlAttributes(new { @style = "width:1200px;" })

                .Pageable(p => p.Refresh(true))
                .Sortable()
                .Navigatable()
                .Groupable()
                .Scrollable(scr => scr.Height(370))
                .Filterable()
                .Excel(excel => excel
                .FileName("Biztbl_PageExt.xlsx")
                .Filterable(true))

)

<script id="AddNewRecord">

    $("#cmdAddNewRecord").click(function (e) {

        var table = $("#Biztbl_PageExt_Grid").data("kendoGrid");
        var sorting = table.dataSource.sort();

        if (sorting) {
            table.dataSource.sort(null);
        }
        table.addRow();
        e.preventDefault();
        //put custom logic here
    });
</script>