@using Resources
@using MessageColumnCaptions

<h1 style="text-align:center;">@MessageColumnCaptions.DynamicPageName("TB_Part")</h1>

<script>

    function RefreshGrid(e) {
        this.read();
    }

    function OnEdit(e) {
        if (e.model.isNew() == false) {
            $('input[name=ID]').parent().html(e.model.ID);
        }
    }

</script>

@(Html.Kendo().Grid<gbsExtranetMVC.Models.Repositories.Tables.TB_PartExt>()
                .Name("TB_PartGrid")
                    .Events(events => events.Edit("OnEdit"))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(25)
            .Events(events => events.Error("onError").Sync("RefreshGrid"))

        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.ID);
        })
                        .Create(update => update.Action("_Create", "TB_Part"))
                        .Read(read => read.Action("_Read", "TB_Part", new { TableID = (int)ViewBag.TableID }))
                    .Update(update => update.Action("_Update", "TB_Part"))
                    .Destroy(destroy => destroy.Action("_Destroy", "TB_Part"))

        )

                    .Columns(columns =>
                    {
                        columns.Command(

                            command =>
                            {
                                command.Edit().UpdateText(Resources.Update).CancelText(Resources.Cancel).Text(Resources.Edit);
                                command.Destroy().Text(Resources.Delete);
                            }).Locked(true).Width(180);

                        columns.Bound(p => p.ID).Title("ID").Width(100).Locked(true); //EditorTemplateName (/Shared/EditorTempaltes/ddlCountries) used to Display Dropdown list and it will return Int value to Controller                      
                        columns.Bound(p => p.Name).Title(MessageColumnCaptions.TB_PartCaption("Name")).Width(300);
                        columns.Bound(p => p.Active).ClientTemplate("<div style='text-align:center;'> #if(Active){# <img src='/Images/checked.gif' alt='checked'> #} else {# <img src='/Images/red_cross.png' alt='redCross'> #}# </div>").Title(MessageColumnCaptions.TB_PhotoCaption("Active")).Width(100);
                    })
                .ToolBar(tool =>
                {
                    tool.Custom().Name("cmdAddNewRecord")
                   .Text(Resources.NewRecord)
                   .HtmlAttributes(new { @id = "cmdAddNewRecord" });
                    tool.Excel().Text(Resources.ExporttoExcel);
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Scrollable(scrollable => scrollable.Height(430))
        //.Scrollable().HtmlAttributes(new { @style = "width:1200px;" })

                .Pageable(p => p.Refresh(true))
                .Sortable()
                .Navigatable()
                .Groupable()
                .Scrollable(scr => scr.Height(370))
                .Filterable()
                .Excel(excel => excel
                .FileName("Tb_PartRpt.xlsx")
                .Filterable(true))

)


<script id="AddNewRecord">

    $("#cmdAddNewRecord").click(function (e) {

        var table = $("#TB_PartGrid").data("kendoGrid");
        var sorting = table.dataSource.sort();

        if (sorting) {
            table.dataSource.sort(null);
        }
        table.addRow();
        e.preventDefault();
        //put custom logic here
    });
</script>







