<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>
                Real Time Stats
                <br />
                <small>current server uptime</small>
            </h4>
        </div>

        <div class="panel-options">
            <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
            <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
            <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
        </div>
    </div>

    <div class="panel-body no-padding">
        <div id="rickshaw-chart-demo">
            <div id="rickshaw-legend"></div>
        </div>
    </div>
</div>