<div class="panel panel-primary" id="charts_env">

    <div class="panel-heading">
        <div class="panel-title">Site Stats</div>

        <div class="panel-options">
            <ul class="nav nav-tabs">
                <li class=""><a href="#area-chart" data-toggle="tab">Area Chart</a></li>
                <li class="active"><a href="#line-chart" data-toggle="tab">Line Charts</a></li>
                <li class=""><a href="#pie-chart" data-toggle="tab">Pie Chart</a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">

        <div class="tab-content">

            <div class="tab-pane" id="area-chart">
                <div id="area-chart-demo" class="morrischart" style="height: 300px"></div>
            </div>

            <div class="tab-pane active" id="line-chart">
                <div id="line-chart-demo" class="morrischart" style="height: 300px"></div>
            </div>

            <div class="tab-pane" id="pie-chart">
                <div id="donut-chart-demo" class="morrischart" style="height: 300px;"></div>
            </div>

        </div>

    </div>

    <table class="table table-bordered table-responsive">

        <thead>
            <tr>
                <th width="50%" class="col-padding-1">
                    <div class="pull-left">
                        <div class="h4 no-margin">Pageviews</div>
                        <small>54,127</small>
                    </div>
                    <span class="pull-right pageviews">4,3,5,4,5,6,5</span>

                </th>
                <th width="50%" class="col-padding-1">
                    <div class="pull-left">
                        <div class="h4 no-margin">Unique Visitors</div>
                        <small>25,127</small>
                    </div>
                    <span class="pull-right uniquevisitors">2,3,5,4,3,4,5</span>
                </th>
            </tr>
        </thead>

    </table>

</div>